.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    float: left;
    gap: 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    position: absolute;
}

.logoh{
    width: 150px;
    height: 100px;
}

@import url(https://fonts.google.com/specimen/Condiment?categoryFilters=Feeling:%2FExpressive%2FActive);

.navs{
    text-decoration: none;
    font-family: 'Condiment', cursive;
    font-size: 1.4em;
    font-weight: 400;
}



